*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #0c1022;
    color: #fff;
}

.header
{
    background: #fff;
}

.header-contents
{
    width: 1200px;
    margin: auto;
}

.logo img
{
    height: 100px;
    padding-top: 10px;
}

.logo
{
    text-align: center;
}

.logo h3
{
    font-size: 30px;
    color: black;
}

.logo, .navbar
{
    display: inline-block;
}

.navbar
{
    text-align: right;
    width: 1350px;
    position: relative;
    left: 50px;
}

.navbar ul
{
    list-style-type: none;
}

.navbar li
{
    display: inline-block;
    margin-right: 20px;
}

.navbar a
{
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.navbar a.active, .navbar a:hover
{
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home
{
    width: 1500px;
    margin: auto;
}

.home-content
{
    margin-top: 180px;
    margin-left: 200px;
}

.home-img
{
    margin-top: 130px;
    margin-left: 100px;
}

.home-content, .home-img
{
    display: inline-block;
    vertical-align: top;
}

.home-content h1
{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3
{
    font-size: 32px;
    font-weight: 700;
}

.about-me
{
    max-width: 600px;
    text-align: center;
}

.about-me p
{
    margin-top: 20px;
}

.btn
{
    position: relative;
    width: 180px;
    height: 48px;
    font-size: 19px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.btn::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #fff, #3cf, #fff);
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    background-position: 0 0;
    filter: blur(4px);
    transition: .5s ease;
}

.btn:hover::before
{
    background-position: 100% 0;
}

.btn::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #fff, #3cf, #fff);
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    transition: .5s ease;
}

.btn:hover::after
{
    background-position: 100% 0;
}

.home-img
{
    width: 410px;
    height: 410px;
    cursor: pointer;
}

.home-img .glowing-circle
{
    width: 100%;
    height: 100%; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-img .glowing-circle::after
{
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;
}

.glowing-circle span
{
    position: absolute;
    width: 410px;
    height: 410px;
    background: linear-gradient(45deg, #000, #3cf,#fff,#3cf,#000);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-circle .image
{
    position: relative;
    width: 380px;
    height: 380px;
    background: red;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.image img
{
    position: absolute;
    bottom: -170px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 390px;
    object-fit: cover;
}

.foto
{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-left: 250px;
    margin-top: 30px;
}

.medias
{
    width: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    border: 10px solid orange;
    border-radius:  8px;
    box-shadow: -1px 5px 15px white;
}

.medias-content
{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

.medias-content img
{
    width: 100%;
}

@keyframes slide
{
    0%{
        transform: translateX(0);
    }
    35%{
        transform: translateX(0);
    }
    45%{
        transform: translateX(-100%);
    }
    75%{
        transform: translateX(-100%);
    }
    85%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(-200%);
    }
   
}

@keyframes circleRotate
{
    0%
    {
        transform: rotate(0);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@media all and (max-device-width: 1050px)
{
    .header-contents
    {
        width: auto;
    }
    
    .navbar
    {
        width: auto;
        text-align: left;
    }
    
    .navbar li 
    {
        display: block;
        padding-left: 700px;
        
    }

    .home
    {
        width: auto;
    }

    .glowing-circle
    {
        width: 20px;
    }

    .about-me
    {
        width: 300px;
    }

    .about-me p 
    {
        width: auto;
        align-content: center;
        justify-content: center;
    }

    .foto
    {
        margin-left: 100px;
    }

    .home-img
    {
        margin-left: 500px;
        position: absolute;
        left: 40px;
        top: 200px;
    }

}

@media all and (max-device-width: 650px)
{
    .header-contents
    {
        width: 100%;
    }
}

@media all and (max-device-width: 550px)
{
    .header-contents
    {
        width: 100%;
    }

    .home-img
    {
        margin-left: 500px;
        position: absolute;
        left: 40px;
        top: 250px;
    }
}

